## Data

In [3]:
# Getting the data into right format for machine learning
# -> Text Vectorization

In [4]:
data = [
    'I am just gonna write random stuffs that will likely satisfy the word count',
    'but not only that i also wanna have it so that it will generate more couns for the same word',
    'and i think this will do it for now before importing the actual datasets'
]

## BOW 
(*bag of words*)

In [8]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
count_vec = CountVectorizer()
count_vec_fit = count_vec.fit_transform(data)

In [9]:
bag_of_words = pd.DataFrame(count_vec_fit.toarray(), columns=count_vec.get_feature_names_out())
bag_of_words

   actual  also  am  and  before  but  ...  think  this  wanna  will  word  write
0       0     0   1    0       0    0  ...      0     0      0     1     1      1
1       0     1   0    0       0    1  ...      0     0      1     1     1      0
2       1     0   0    1       1    0  ...      1     1      0     1     0      0

[3 rows x 35 columns]

## TF IDF 
*term frequency inverse document frequency*

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf_vec = TfidfVectorizer()
tfidf_vec_fit = tfidf_vec.fit_transform(data)

In [9]:
tfidf = pd.DataFrame(tfidf_vec_fit.toarray(), columns=tfidf_vec.get_feature_names_out())
tfidf

,actual,also,am,and,before,but,couns,count,datasets,do,...,so,stuffs,that,the,think,this,wanna,will,word,write
0,0.000000,0.000000,0.303526,0.000000,0.000000,0.000000,0.000000,0.303526,0.000000,0.000000,...,0.000000,0.303526,0.230839,0.179267,0.000000,0.000000,0.000000,0.179267,0.230839,0.303526
1,0.000000,0.239171,0.000000,0.000000,0.000000,0.239171,0.239171,0.000000,0.000000,0.000000,...,0.239171,0.000000,0.363792,0.141258,0.000000,0.000000,0.239171,0.141258,0.181896,0.000000
2,0.303526,0.000000,0.000000,0.303526,0.303526,0.000000,0.000000,0.000000,0.303526,0.303526,...,0.000000,0.000000,0.000000,0.179267,0.303526,0.303526,0.000000,0.179267,0.000000,0.000000